.container {
  background: #fff;
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  max-height: 100%;
  overflow-y: auto;
  margin: 0 auto;
}

.header {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 24px;
  border-radius: 24px;
  border-bottom: 1px solid #eee;
  position: relative;
  background-color: #f5f5f5;
}

.item:not(:last-child) {
  margin-bottom: 16px;
}
.timeAndStatus {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.time {
  font-weight: bold;
  margin-bottom: 8px;
}

.student {
  display: flex;
  align-items: center;
}

.avatar {
  width: 20px;
  height: 20px;
  background-color: #d0eaff;
  border-radius: 50%;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  margin-right: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 16px;
}

.status {
  position: absolute;
  right: 10px;
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 12px;
  color: #fff;
}
