.studentsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  gap: 32px;
}

.students {
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.studentsButton {
  width: 200px;
}
.studentsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  border-radius: 8px;
  overflow: auto;
  margin: 0 auto;
  max-height: 600px;
}

.studentsList::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
.studentsList::-webkit-scrollbar-thumb {
  margin-top: 10px;
  height: 33px;
  transform: scaleY(0.3);
  transform-origin: top;
  background: linear-gradient(to bottom right, #8c8c8c 0%, #8c8c8c 100%);
  border-radius: 5px;
}
.studentsList::-webkit-scrollbar-track {
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
}

.studentsItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 24px;
  padding: 15px 25px;
  position: relative;
  background-color: #f5f5f5;
  cursor: pointer;
  min-height: 76px;
}
.studentsItem {
  display: flex;
  align-items: center;
}
.visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
