.container {
  max-width: 920px;
  max-height: 774px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 32px 0;
  border-radius: 24px;
}

.containerContent {
  max-width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.title {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 24px;
  color: #000000;
  opacity: 88%;
}
.labelAbove {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.separator {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  /* font-size: 14px;
  width: 100%;
  color: #e6e6e6;
  position: relative;
  text-align: center; */
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #e6e6e6;
}
.text {
  margin: 0 10px;
  font-size: 14px;
  color: #000000;
  opacity: 45%;
}

.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1677ff;
  border-radius: 4px;
  padding: 10px;
  background: #fff;
  color: #1677ff;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s;
  margin-bottom: 24px;
}

.googleButton:hover {
  background: #f5f5f5;
}

.googleIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.link {
  font-size: 16px;
  color: #1890ff;
  display: inline-block;
  margin-bottom: 24px;
  text-decoration: none;
}
