.container {
  max-width: 920px;
  max-height: 774px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 32px 0;
  border-radius: 24px;
}

.containerContent {
  max-width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.title {
  margin-top: 24px;
  margin-bottom: 24px;
}
