.main {
  display: flex;
  max-height: (100vh - 100px);
}
.schedule {
  background-color: #ffffff;
  min-width: 1040px;
  border-radius: 24px;
  padding: 32px;
}
.scheduleMain {
  display: flex;
  width: 100%;
  border-radius: 8px;
  gap: 24px;
  margin: 0 auto;
  align-items: flex-start;
}
