/* .main {
  display: flex;
  height: calc(100vh - 200px);
}
.schedule {
  background-color: #ffffff;
  min-width: 1040px;
  border-radius: 24px;
  padding: 32px;
  max-height: 70vh;
}
.scheduleMain {
  display: flex;
  width: 100%;
  border-radius: 8px;
  gap: 24px;
  margin: 0 auto;
  align-items: flex-start;
} */
