.nav {
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-width: 320px;
  padding: 56px 24px;
  border-radius: 24px;
  right: 0;
  top: 87px;
  z-index: 1;
}

a {
  color: #000000;
  opacity: 88%;
}
.navUser {
  align-content: center;
  min-height: 64px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
.navItem {
  display: flex;
  background-color: #ffffff;
  max-height: 186px;
  padding: 16px 24px 16px 0;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.navItem:not(:last-child) {
  border-bottom: 1px solid #f0f0f0;
}
