.sidebar {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.nav {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 24px;
}

.nav a {
  text-decoration: none;
  color: #333;
  border-radius: 4px;
  transition: background 0.3s;
}

.inlineMenuItem {
  display: flex;
  background-color: #ffffff;
  max-height: 186px;
  padding: 16px 24px 16px 0;
  align-items: center;
  gap: 16px;
}

.inlineMenuItem:not(:last-child) {
  border-bottom: 1px solid #f0f0f0;
}
