.studentsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.students {
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
