.schedule {
  width: 100%;
  border-radius: 8px;
  overflow-y: auto;
  margin: 0 auto;
  max-width: 648px;
  max-height: 70vh;
}

.schedule::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
.schedule::-webkit-scrollbar-thumb {
  margin-top: 10px;
  height: 33px;
  transform: scaleY(0.3);
  transform-origin: top;
  background: linear-gradient(to bottom right, #8c8c8c 0%, #8c8c8c 100%);
  border-radius: 5px;
}
.schedule::-webkit-scrollbar-track {
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 25px;
  border-radius: 24px;
  position: relative;
  background-color: #f5f5f5;
  cursor: pointer;
}

.item:not(:last-child) {
  margin-bottom: 16px;
}
.item.selected {
  border: 2px solid #8c8c8c;
}
.item.first {
  background-color: #e6f7ff;
}
.timeAndStatus {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.time {
  display: flex;
  gap: 8px;
  font-weight: bold;
  margin-bottom: 8px;
}

.student {
  display: flex;
  align-items: center;
}

.avatar {
  width: 20px;
  height: 20px;
  background-color: #d0eaff;
  border-radius: 50%;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  margin-right: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.status {
  position: absolute;
  right: 10px;
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 12px;
  color: #fff;
}
