.panel {
  /* display: inline-flex;
  flex-direction: column;
  background: #e6f7ff;
  padding: 20px;
  border-radius: 8px;
  max-width: 304px;
  width: 100%;
  margin: 0 auto; */
  display: inline-block; /* shrink to fit content */
  /* or use display: inline-flex; if needed */
  background: #e6f7ff;
  padding: 20px;
  border-radius: 24px;
  /* Remove max-width or set it appropriately if needed */
  max-width: 304px;
  width: auto; /* ensure it doesn't stretch to full width */
}
.time {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 18px;
}
.timeSpan {
  font-size: 20px;
  font-weight: 600;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.avatarLarge {
  width: 50px;
  height: 50px;
  background-color: #d0eaff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  text-align: center;
  line-height: 50px;
}

.comment {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: normal;
  color: #000000;
  opacity: 45%;
  text-align: left;
}
.commentText {
  margin-bottom: 24px;
  text-align: left;
}
h3 {
  align-items: center;
}

.statusSection {
  background-color: #ffffff;
  padding: 24px 24px;
  border-radius: 24px;
  max-width: 301px;
  width: 100%;
  margin: 0 auto;
  margin-top: auto;
}

.statusSection h3 {
  margin: 0 0 10px 0;
}
.statusSectionHelperText {
  font-size: 12px;
  color: #000000;
  opacity: 45%;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
