.panel {
  background: #e6f7ff;
  border-radius: 8px;
  padding: 24px;
  max-width: 304px;
}
.time {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 18px;
}
.timeSpan {
  font-size: 20px;
  font-weight: 600;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.avatarLarge {
  width: 50px;
  height: 50px;
  background-color: #d0eaff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  text-align: center;
  line-height: 50px;
}

.name {
  font-weight: bold;
  font-size: 20px;
}

.comment {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: normal;
  color: #000000;
  opacity: 45%;
  text-align: left;
}
.commentText {
  margin-bottom: 24px;
  text-align: left;
}
h3 {
  align-items: center;
}

.statusSection {
  background-color: #ffffff;
  padding: 24px 24px;
  border-radius: 24px;
  width: 100%;
  width: 256px;
}

.statusSection h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
