.panel {
  display: flex;
  flex-direction: column;
  background: #e6f7ff;
  padding: 24px;
  border-radius: 24px;
  max-width: 304px;
  width: auto;
  margin-bottom: 12px;
  flex-shrink: 1;
  overflow: auto;
  scrollbar-width: none; /* remove the scroll */
}
.time {
  display: flex;
  gap: 8px;
  align-items: center;
}
.timeSpan {
  font-size: 20px;
  font-weight: 600;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.avatarLarge {
  display: flex;
  flex-wrap: wrap;
  width: 40px;
  height: 40px;
  background-color: #d0eaff;
  border-radius: 50%;
  margin-right: 15px;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  line-height: 50px;
}

.comment {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: normal;
  color: #000000;
  opacity: 45%;
  text-align: left;
}
.commentText {
  margin-bottom: 24px;
  text-align: left;
}
h3 {
  align-items: center;
}

.statusSection {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 16px 20px;
  border-radius: 24px;
  max-width: 301px;
  width: 100%;
  margin: 0 auto;
}

.statusSection h3 {
  margin: 0 0 10px 0;
}
.statusSectionHelperText {
  font-size: 12px;
  color: #000000;
  opacity: 45%;
}
.switches {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.panelSwitches {
  display: flex;
  gap: 8px;
  align-items: center;
}
