.dialog {
  border-radius: 24px;
}

.formDate {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 16px;
}
.inputLabel {
  margin-bottom: 8px;
}
.switchLabel {
  display: flex;
  gap: 8px;
  align-items: center;
}
