
.calendarContainer {
  display: flex;
  height: 95vh;
  width: 100%;
  margin: 1.5rem 0;
  margin-bottom: 1.5rem;
}

.calendarLeft {
  width: 25%;
}
:root {
  --fc-page-bg-color: #fff;
}
/* :root[data-theme="dark"] {
  --fc-page-bg-color: #2d2d2d;
}
.calendarContainer {
  --fc-page-bg-color: #fff;
  --fc-border-color: #ddd;
  --fc-text-color: #000;
  --fc-button-bg-color: #f0f0f0;
  --fc-button-text-color: #000;
  --fc-event-bg-color: #3788d8;
  --bg-color: #fff;
  --text-color: #000;
}

.calendarContainer[data-theme="dark"] {
  --fc-page-bg-color: #1e1e1e;
  --fc-test: red;
  --fc-border-color: #444;
  --fc-text-color: #fff;
  --fc-button-bg-color: #333;
  --fc-button-text-color: #fff;
  --fc-event-bg-color: #ff6b6b;
  --bg-color: #1e1e1e;
  --text-color: #fff;
}

.calendarContainer {
  background-color: var(--fc-test);
  color: var(--fc-text-color);
}

.calendarContainer :global(.fc .fc-button) {
  background-color: var(--fc-button-bg-color);
  color: var(--fc-button-text-color);
  border-color: var(--fc-border-color);
}

.calendarContainer :global(.fc .fc-event) {
  background-color: var(--fc-event-bg-color);
  border-color: var(--fc-event-border-color);
}

.calendarLeft {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 20px;
  width: 250px;
  border-right: 1px solid var(--fc-border-color);
} */

.calendarRight {
  flex-grow: 1;
}

.themeButton {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #e5e7eb;
}

.calendarEvents {
  list-style: none;
  padding: 0;
}

.calendarEventsList {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid var(--fc-border-color);
  cursor: pointer;
}
.calendarEventsCompleted {
  text-decoration: line-through;
  color: gray; /* or more specific colors if needed */
}
.calendarEventsHidden {
  display: none;
}
