.header {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  max-height: 64px;
  margin-bottom: 24px;
}
.teacherAvatar {
  display: flex;
  gap: 8px;
}
