.calendarContainer {
  display: flex;
  width: 100%;
  margin: 1.5rem 0;
  margin-bottom: 1.5rem;
  tr th {
    border-color: transparent !important;
    border-bottom-color: #d9d9d9 !important;
  }
  tr td {
    border-right-color: transparent !important;
    border-left-color: transparent !important;
  }

 
}

.calendarLeft {
  width: 25%;
}
:root {
  --fc-page-bg-color: #fff;
}

.calendarRight {
  flex-grow: 1;
}

.themeButton {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #e5e7eb;
}

.calendarEvents {
  list-style: none;
  padding: 0;
}

.calendarEventsList {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid var(--fc-border-color);
  cursor: pointer;
}
.calendarEventsCompleted {
  text-decoration: line-through;
  color: gray; /* or more specific colors if needed */
}
.calendarEventsHidden {
  display: none;
}

/* style customization*/

.calendarContainer {
  --fc-page-bg-color: #fff;
  --fc-border-color: #ddd;
  --fc-text-color: #000;
  --fc-button-bg-color: #f0f0f0;
  --fc-button-active-bg-color: #f0f0f0;
  --fc-button-text-color: #000;
  --fc-event-bg-color: #3788d8;
  --fc-event-bg-color-blue: #1677ff;
  --text-color: #000;
}

/* calendar button styles */
.calendarContainer :global(.fc .fc-button-primary) {
  max-height: 40px;
  border-radius: 8px;
}

.calendarContainer :global(.fc .fc-prev-button) {
  background-color: #fff;
  border-color: #1890ff;
  color: #1890ff;
}

.calendarContainer :global(.fc .fc-next-button) {
  background-color: #fff;
  border-color: #1890ff;
  color: #1890ff;
  max-height: 40px; /*не работает max-height*/
}
.calendarContainer :global(.fc-createLessonButton-button) {
  background-color: #1677ff;
  color: #ffffff;
  border: none;
  white-space: nowrap;
  padding: 8px 15px;
}
.calendarContainer :global(.fc-createLessonButton-button):hover {
  background-color: var(--fc-event-bg-color-blue);
  color: #ffffff;
}

.calendarContainer :global(.fc .fc-col-header-cell-cushion) {
  color: #000000;
  opacity: 85%;
  white-space: wrap;
}

.calendarContainer :global(.fc-day-today .fc-col-header-cell-cushion) {
  color: #1890ff;
}

.calendarContainer :global(.fc-day-today) {
  background-color: #e0f0ff !important; /* light blue */
}

.calendarContainer :global(.fc-toolbar-title) {
  color: var(--text-color);
  opacity: 88%;
}

.calendarContainer :global(.fc-timegrid-slot:hover .add-event-btn) {
  display: inline-block !important;
}

.calendarContainer :global(.fc .fc-timegrid-slot-minor) {
  border-top-style: none;
  height: 30px;
}

.calendarContainer :global(.fc-theme-standard .fc-scrollgrid) {
  border: none;
}

/*table styles*/

.calendarContainer :global(th) {
  font-weight: normal;
}
.calendarContainer :global(.fc-theme-standard td) {
  /* border: 1px solid #f0f0f0; */ /*boder doesn't apply*/
}

.calendarContainer :global(.fc-scrollgrid-sync-inner) {
  border-left: none; /*boder doesn't apply*/
}

.calendarContainer :global(.fc-toolbar-title) {
  font-weight: 500;
}
