.container {
  max-width: 920px;
  max-height: 774px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 32px 0;
  border-radius: 24px;
}

.containerContent {
  max-width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.title {
  margin-top: 24px;
  margin-bottom: 24px;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.separator {
  margin: 20px 0;
  font-size: 14px;
  color: #e6e6e6;
  position: relative;
  text-align: center;
}

.separator::before,
.separator::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background-color: #e6e6e6;
}

.separator::before {
  left: 0;
}

.separator::after {
  right: 0;
}

.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1677FF;
  border-radius: 4px;
  padding: 10px;
  background: #fff;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s;
  margin-bottom: 24px;
}

.googleButton:hover {
  background: #f5f5f5;
}

.googleIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.forgot {
  margin-top: 10px;
  color: #1890ff;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 24px;
}

.register {
  margin-top: 20px;
  color: #1890ff;
  cursor: pointer;
  display: inline-block;
}
