.container {
  max-width: 920px;
  max-height: 774px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 32px 0;
  border-radius: 24px;
}

.containerContent {
  max-width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.title {
  margin-top: 24px;
  margin-bottom: 24px;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.link {
  font-size: 16px;
  color: #1890ff;
  display: inline-block;
  margin-bottom: 24px;
  text-decoration: none;
}
