.main {
  display: flex;
}
.schedule {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 1040px;
  border-radius: 24px;
  padding: 32px;
  height: calc(100vh - 120px);
  box-sizing: border-box;
}
