.dialog {
  border-radius: 24px;
  /* не работает  border-radius  */
}
.modalHeader {
  height: 56px;
  width: 100%;
  border-bottom: 1px #d9d9d9 solid;
  position: absolute;
  left: 0;
  top: 0;
}
.dialogForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 56px;
}
.switchLabel {
  display: flex;
  gap: 6px;
  align-items: center;
}

.formLabel {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
