.dialog {
  border-radius: 24px;
  /* не работает  border-radius  */
}

.dialogForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.switchLabel {
  display: flex;
  gap: 6px;
  align-items: center;
}
