.container {
  /* background: #fff;
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  height: 600px;
 overflow-y: auto; 
margin: 0 auto;  */
}
.timeTable {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.timeTableToday {
  color: #1890ff;
}
.timeTableDate {
  display: flex;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
  gap: 10px;
  align-items: center;
}
.timeTableDay {
  font-size: 14px;
  font-weight: normal;
  color: 000000;
  opacity: 45%;
}
