
.separator {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  /* font-size: 14px;
  width: 100%;
  color: #e6e6e6;
  position: relative;
  text-align: center; */
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #e6e6e6;
}
.text {
  margin: 0 10px;
  font-size: 14px;
  color: #000000;
  opacity: 45%;
}

.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1677ff;
  border-radius: 4px;
  padding: 10px;
  background: #fff;
  color: #1677ff;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s;
  margin-bottom: 24px;
}

.googleButton:hover {
  background: #f5f5f5;
}

.googleIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
